/************************
 Rounded Button
************************/
.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.btn.rounded,
.btn.rounded-light {
  border-color: #2a8abd;
  border-radius: 100px !important;
  padding: 0.3em 1.5em;
}
.btn.rounded-light {
  background-color: transparent;
  border-color: white;
  color: white;
}
/************************
 Links
************************/
a {
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
}
/************************
  Dashboard Navbar
************************/
.navbar {
  background: linear-gradient(#2a8abd, 80%, #226cc1);
  height: 60px;
}
.navbar input,
.navbar input:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5em;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  padding: 0.3em 1.5em;
  width: 45em !important;
}
.navbar input::placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
/************************
  Dashboard Home Sidebar 
************************/
.home-sidebar .card-body,
.home-post-box .card-body {
  background: linear-gradient(#60a7ce, 60%, #5c92d1);
  color: white;
}
.home-sidebar .card-body .card-img {
  border-radius: 100%;
  margin: 15px 0px;
  width: 80%;
}
.home-sidebar .card-body .card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
.home-sidebar .card-body .card-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
.home-sidebar .list-group.list-group-flush {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
.home-sidebar .list-group.list-group-flush .list-group-item:first-of-type {
  margin-top: 10px;
}
.home-sidebar .list-group.list-group-flush .list-group-item:not(:last-of-type) {
  border: 0;
  padding: 0.3rem 1.25rem;
}
.home-sidebar .list-group.list-group-flush .list-group-item:last-of-type {
  border-top: 0;
  height: 1.6em;
}
.home-sidebar .list-group.list-group-flush .list-group-item .card-link {
  color: #2a8abd;
}
.home-sidebar .list-group.list-group-flush .list-group-item .badge {
  color: #bfbfbf;
  font-size: 0.79em;
}
/************************
  Dashboard Home Post Box 
************************/
.home-post-box {
  margin-bottom: 1em;
}
.home-post-box .card-body {
  padding: 1.1em 1.25em 0.6em 1.25em;
}
.home-post-box .card-body .post-box {
  border-radius: 0.4em;
  resize: none;
  width: 100%;
}
.home-post-box .card-body .post-box-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-post-box .card-body .post-options .btn {
  color: white;
  background-color: transparent;
  font-size: 1.3em;
  margin: 0 0.6em;
}
.home-post-box .card-body .post-options,
.home-post-box .card-body .post-btn {
  display: inline-block;
}
.home-post-box .card-body .post-btn {
  height: max-content;
  margin-right: 0.1em;
  text-align: right;
}
/************************
  News Feed Options 
************************/
.newsfeed-option {
  display: flex;
  align-content: center;
  margin: 0 0 1em 0;
}
.newsfeed-option h6 {
  color: #2a8abd;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 0;
}
.newsfeed-option .sort-by {
  color: #2a8abd;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 0.5em;
}
.newsfeed-option .btn {
  color: #2a8abd !important;
  font-size: 0.8em;
  padding: 0px 0.4em;
}
/************************
  News Feed Post 
************************/
.newsfeed-post {
  margin-bottom: 1em;
}
.newsfeed-post .post-info-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.newsfeed-post .post-info-group .post-avatar {
  border: 2px solid #2a8abd;
  border-radius: 100%;
  display: inline-block;
  height: 4em;
  width: 4em;
}
.newsfeed-post .post-info-group .post-info {
  display: inline-block;
  margin-left: 0.6em;
  margin-top: -0.8em;
}
.newsfeed-post .post-info-group .post-info .post-author {
  display: block;
  font-size: 1.05em;
  font-weight: 600;
}
.newsfeed-post .post-info-group .post-info .post-location {
  font-size: 1em;
}
.newsfeed-post .post-info-group .post-info .post-timestamp {
  font-size: 0.85em;
  margin-left: 0.5em;
}
.newsfeed-post .post-info-group .more {
  align-self: flex-start;
  margin-left: auto;
}
.newsfeed-post .post-info-group .more .btn {
  padding: 0;
}
.newsfeed-post .post-content {
  margin-left: 4.5em;
}
.newsfeed-post .post-content .embedded-link {
  background-color: white;
  border: 1px solid #f1f1f1;
  height: 6em;
  padding: 0.5em;
  width: 100%;
}
.newsfeed-post .post-content .preview-content {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.newsfeed-post .post-content .preview-content > .preview-img {
  display: flex;
  justify-content: center;
  height: 100%;
  width: max-content;
}
.newsfeed-post .post-content .preview-content > .preview-img > img {
  height: 100%;
}
.newsfeed-post .post-content .preview-content > .preview-details {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  padding: 0.2em 0.4em;
  width: 80%;
}
.newsfeed-post .post-content .preview-content .link-title {
  color: #1a17a4;
  font-family: 'Arial', sans-serif;
  font-size: 0.99em;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newsfeed-post .post-content .preview-content .link-subdetails {
  margin-top: -2px;
}
.newsfeed-post .post-content .preview-content .link-subdetails > .link-author {
  color: #006621;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-size: 0.95em;
}
.newsfeed-post .post-content .preview-content .link-subdetails > .separator,
.newsfeed-post .post-content .preview-content .link-subdetails > .link-timestamp {
  color: #808080;
  font-family: 'Arial', sans-serif;
  font-size: 0.95em;
  line-height: 0.95em;
}
.newsfeed-post .post-content .preview-content .link-text {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
  text-align: justify;
  margin-bottom: 0px;
  line-height: 1.2em;
  height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsfeed-post .post-buttons {
  margin-left: 4.4em;
}
.newsfeed-post .post-buttons .btn {
  margin-right: 1em;
  padding: 1.25rem 0 0 0;
}
/************************
  Confirmation Message
************************/
.confirmation-msg {
  display: flex;
  padding: 10em 0;
}
.confirmation-msg h3 {
  color: #2a8abd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 1.2em;
  text-align: center;
}
.confirmation-msg p {
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  text-align: center;
}
/************************
  Inline Form Group
************************/
.inline.form-group .form-control {
  width: max-content;
}
.stacked.form-group label,
.stacked-form-group .btn {
  display: block;
}
.inline.form-group input,
.inline.form-group label {
  display: inline-block;
}
/************************
  Checkbox
************************/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 1.2em;
  width: max-content;
  cursor: pointer;
  font-size: 22px;
  height: 0.8em;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  background-color: white;
  border: 1px solid #2a8abd;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: white;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: white;
}
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 0.26em;
  top: 0.09em;
  width: 5px;
  height: 10px;
  border: solid #2a8abd;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/************************
  E-Service Form
************************/
.e-service-form .card-body {
  padding: 2.5em 5em;
}
.e-service-form .form-title {
  color: #2a8abd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.e-service-form .form-instructions {
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
  font-size: 1.08em;
  font-weight: 500;
}
.e-service-form .form-group {
  margin-bottom: 0.2em;
  padding-left: 1.2em;
}
.e-service-form .form-group > label,
.e-service-form .purpose-checkbox-label,
.e-service-form .attach-requirements-label,
.e-service-form .form-check,
.e-service-form ol > li {
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 500;
}
.e-service-form .form-group > .form-control {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0;
  padding: 0.1em 0.2em;
  width: 30%;
}
.e-service-form .attach-requirements-label {
  font-weight: 700;
  margin-top: 2em;
}
.e-service-form .form-check {
  display: flex;
  align-items: center;
}
.e-service-form .form-check > label {
  display: inline-block;
}
.e-service-form .form-check > .checkbox-label {
  margin: 0;
}
.e-service-form .form-check > input {
  border: none;
  border-bottom: 1px solid #2a8abd;
  margin-left: 0.5em;
}
.e-service-form .attachment.form-group {
  margin-bottom: 1.1em;
  padding-left: 1.2em;
  width: max-content;
}
.dashboard-content {
  background-color: #f2f2f2;
  min-height: calc(100vh - 60px);
  padding: 25px 0px;
}
.profile .navbar {
  background: rgba(255, 255, 255, 0) !important;
}
.profile .navbar .nav-bar {
  color: #ffffff;
}
.profile .header {
  height: 250px;
  background: linear-gradient(#2a8abd, 50%, #226cc1);
}
.profile .header img {
  margin: 100px 0 0  50px;
  border-radius: 100%;
  width: 200px;
  position: absolute;
}
.profile .content .right-side-bar .card-body {
  color: #2a8abd;
}
.profile .content .right-side-bar .card-body .card-img {
  border-radius: 100%;
  margin-top: -60%;
  width: 100%;
}
.profile .content .right-side-bar .card-body .card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
.profile .content .right-side-bar .card-body .card-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
.profile .content .right-side-bar .list-group {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
.profile .content .right-side-bar .list-group .list-group-item:first-of-type {
  margin-top: 10px;
}
.profile .content .right-side-bar .list-group .list-group-item:not(:last-of-type) {
  border: 0;
  padding: 0.3rem 1.25rem;
}
.profile .content .right-side-bar .list-group .list-group-item:last-of-type {
  border-top: 0;
  height: 1.6em;
}
.profile .content .right-side-bar .list-group .list-group-item .card-link {
  color: #2a8abd;
}
.profile .content .right-side-bar .list-group .list-group-item .card-link .icon {
  margin-right: 5px;
}
.profile .content .right-side-bar .list-group .list-group-item .badge {
  color: #bfbfbf;
  font-size: 0.79em;
}
.profile .content .right-side-bar .secondary.list-group {
  margin-left: 25px;
}
.profile .content .center-bar .status.card .card-body {
  padding-top: 0;
  padding-bottom: 0;
}
.profile .content .center-bar .status.card .card-body .nav .nav-item .nav-link .title {
  font-weight: 700;
}
.profile .content .center-bar .status.card .card-body .nav .nav-item .nav-link .value {
  font-weight: 200;
  font-size: 14px;
}
.profile .content .center-bar .posts.card {
  margin-top: 16px;
}
.profile .content .center-bar .posts.card .card-header .card-img {
  float: left;
  width: 50px;
  border-radius: 100%;
}
.profile .content .center-bar .posts.card .card-header .brgy-info {
  margin-left: 10px;
  float: left;
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
}
.profile .content .center-bar .posts.card .card-header .brgy-info .name {
  font-weight: 700;
  font-size: 1rem;
}
.profile .content .center-bar .posts.card .card-header .brgy-info .place {
  font-size: .90rem;
}
.profile .content .center-bar .posts.card .card-header .brgy-info .time {
  font-size: 0.75rem;
}
.profile .content .center-bar .posts.card .card-header .option {
  margin-top: 16px;
  float: right;
}
.profile .content .center-bar .posts.card .card-footer {
  font-family: 'Lato', sans-serif;
}
.profile .content .center-bar .posts.card .card-footer .footer-button {
  margin-left: 36px;
}
.signup .content .left-side-bar .carousel-indicators .indicator {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.signup .content .left-side-bar .carousel-indicators .indicator.active {
  background-color: #000000;
}
.signup .content .left-side-bar .carousel-inner .carousel-item .carousel-container {
  background-color: #ffffff;
}
.signup .content .left-side-bar .carousel-inner .carousel-item .carousel-container .carousel-img {
  display: block;
  margin: 100px auto;
  border-radius: 100%;
  width: 300px;
}
.signup .content .right-side-bar .header {
  width: 100%;
}
.signup .content .right-side-bar .header .title {
  margin: 25px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #2a8abd;
}
.signup .content .right-side-bar .form-group {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  color: #2a8abd;
}
.signup .content .right-side-bar form .submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.content > .row {
  margin: 0px;
  min-height: 100vh;
}
.content .landing-left {
  background: linear-gradient(#2a8abd, 70%, #1f4bc8);
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 25px;
}
.content .landing-left .slider-content img {
  height: 85px;
  margin-bottom: 50px;
}
.content .landing-left .slider-content h2 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 4px;
}
.content .landing-left .slider-content p {
  font-size: 1.11rem;
  letter-spacing: 0.2px;
  margin-left: 4px;
}
.content .landing-left .slider-content .nav-dots {
  margin-left: 4px;
}
.content .landing-left .slider-content .nav-dots .dot {
  background-color: #92b5e1;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.content .landing-left .slider-content .nav-dots .dot.active {
  background-color: white;
}
.content .landing-right .container {
  max-width: 600px;
}
.content .landing-right .container h1 {
  color: #2a8abd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
}
.content .landing-right .container form {
  font-family: 'Lato', sans-serif;
  margin-left: 100px;
  margin-bottom: 60px;
}
.content .landing-right .container form label {
  color: #2a8abd;
  font-size: 1.12em;
}
.content .landing-right .container form .form-control {
  background-color: #f2f2f2;
  border-radius: 0px;
  margin-left: 12px;
  width: 70%;
}
.content .landing-right .container form .forgot-password-login {
  margin-left: 120px;
}
.content .landing-right .container form .forgot-password-login button {
  margin-left: 15px;
}
.content .landing-right .container .sign-up {
  width: max-content;
}
.content .landing-right .container .partners {
  margin-top: 60px;
}
.content .landing-right .container .partners img {
  height: 55px;
  margin-right: 20px;
}
.content .landing-right .container .partners img:first-of-type {
  height: 65px;
}
.content .landing-right .container .partners img:last-of-type {
  height: 100px;
}
