/************************
 Rounded Button
************************/

.btn {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    &.rounded {
        color: #2a8abd;
        border-color: #2a8abd;
        border-radius: 100px;
        padding: 0.3em 1.5em;
        &-light {
            &:extend(.btn.rounded);
            background-color: transparent;
            border-color: white;
            color: white;
        }
    }
}

/************************
 Links
************************/

a {
    color: @primary-color;
    font-family: 'Lato', sans-serif;
}

/************************
  Dashboard Navbar
************************/

.navbar {
    background: linear-gradient(@navbar-primary-color, 80%, @navbar-secondary-color);
    height: 60px;
    input,
    input:focus {
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 5em;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        padding: 0.3em 1.5em;
        width: 45em !important;
    }
    input::placeholder {
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
    }
}

/************************
  Dashboard Home Sidebar 
************************/

.home-sidebar {
    .card-body {
        background: linear-gradient(@home-sidebar-primary-color, 60%, @home-sidebar-secondary-color);
        color: white;
        .card-img {
            border-radius: 100%;
            margin: 15px 0px;
            width: 80%;
        }
        .card-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            margin-bottom: 0;
            text-align: center;
        }
        .card-text {
            font-family: 'Lato', sans-serif;
            font-size: 1.2em;
            font-weight: 500;
            text-align: center;
        }
    }
    .list-group.list-group-flush {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        .list-group-item:first-of-type {
            margin-top: 10px;
        }
        .list-group-item:not(:last-of-type) {
            border: 0;
            padding: .30rem 1.25rem
        }
        .list-group-item:last-of-type {
            border-top: 0;
            height: 1.6em;
        }
        .list-group-item .card-link {
            color: @primary-color;
        }
        .list-group-item .badge {
            color: @badge-text-color;
            font-size: 0.79em;
        }
    }
}

/************************
  Dashboard Home Post Box 
************************/

.home-post-box {
    margin-bottom: 1em;
    .card-body {
        &:extend(.home-sidebar .card-body);
        padding: 1.1em 1.25em 0.6em 1.25em;
        .post-box {
            border-radius: 0.4em;
            resize: none;
            width: 100%;
        }
        .post-box-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .post-options .btn {
            color: white;
            background-color: transparent;
            font-size: 1.3em;
            margin: 0 0.6em;
        }
        .post-options,
        .post-btn {
            display: inline-block;
        }
        .post-btn {
            height: max-content;
            margin-right: 0.1em;
            text-align: right;
        }
    }
}

/************************
  News Feed Options 
************************/

.newsfeed-option {
    display: flex;
    align-content: center;
    margin: 0 0 1em 0;
    h6 {
        color: @primary-color;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin: 0;
    }
    .sort-by {
        color: @primary-color;
        font-size: 0.8em;
        font-weight: 600;
        margin-left: 0.5em;
    }
    .btn {
        color: @primary-color  !important;
        font-size: 0.8em;
        padding: 0px 0.4em;
    }
}

/************************
  News Feed Post 
************************/

.newsfeed-post {
    margin-bottom: 1em;
    .post-info-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .post-avatar {
            border: 2px solid @primary-color;
            border-radius: 100%;
            display: inline-block;
            height: 4em;
            width: 4em;
        }
        .post-info {
            display: inline-block;
            margin-left: 0.6em;
            margin-top: -0.8em;
        }
        .post-info .post-author {
            display: block;
            font-size: 1.05em;
            font-weight: 600;
        }
        .post-info .post-location {
            font-size: 1em;
        }
        .post-info .post-timestamp {
            font-size: 0.85em;
            margin-left: 0.5em;
        }
        .more {
            align-self: flex-start;
            margin-left: auto;
            .btn {
                padding: 0;
            }
        }
    }
    .post-content {
        margin-left: 4.5em;
        .embedded-link {
            background-color: white;
            border: 1px solid @embedded-link-border-color;
            height: 6em;
            padding: 0.5em;
            width: 100%;
        }
        .preview-content {
            display: flex;
            justify-content: space-around;
            height: 100%;
        }
        .preview-content>.preview-img {
            display: flex;
            justify-content: center;
            height: 100%;
            width: max-content;
        }
        .preview-content>.preview-img>img {
            height: 100%;
        }
        .preview-content>.preview-details {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            height: 100%;
            padding: 0.2em 0.4em;
            width: 80%;
        }
        .preview-content .link-title {
            color: #1a17a4;
            font-family: 'Arial', sans-serif;
            font-size: 0.99em;
            font-weight: 600;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .preview-content .link-subdetails {
            margin-top: -2px;
        }
        .preview-content .link-subdetails>.link-author {
            color: #006621;
            display: inline-block;
            font-family: 'Arial', sans-serif;
            font-size: 0.95em;
        }
        .preview-content .link-subdetails>.separator,
        .preview-content .link-subdetails>.link-timestamp {
            color: #808080;
            font-family: 'Arial', sans-serif;
            font-size: 0.95em;
            line-height: 0.95em;
        }
        .preview-content .link-text {
            font-family: 'Arial', sans-serif;
            font-size: 0.8em;
            text-align: justify;
            margin-bottom: 0px;
            line-height: 1.2em;
            height: 2.3em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .post-buttons {
        margin-left: 4.4em;
        .btn {
            margin-right: 1em;
            padding: 1.25rem 0 0 0;
        }
    }
}

/************************
  Confirmation Message
************************/

.confirmation-msg {
    display: flex;
    padding: 10em 0;
    h3 {
        color: @primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 1.2em;
        text-align: center;
    }
    p {
        color: @primary-color;
        font-family: 'Lato', sans-serif;
        font-size: 1.1em;
        text-align: center;
    }
}