/*****************************
*       Signup Form          *
*****************************/
.signup-form {
    .form-title {
        color: @primary-color;
        font-family: 'Lato', sans-serif;
        text-align: center;
    }

    // Form Group
    .form-group {
        font-family: 'Lato', sans-serif;
        font-size: 0.9rem;
        color: @primary-color;
    }

    //Signup Input Field Label
    label {
        font-family: 'Lato', sans-serif;
        font-size: 1.16em;
    }
    
    // Signup Input Field
    input {
        background: linear-gradient(to right, @signup-form-primary-color , @signup-form-secondary-color);
        border: none;
        border-radius: 2em;
        font-size: 1em;
        padding: 0.3em 0.6em;
    }

    // Form Sections
    .section {
        padding: 1em 0;
    }
}