.brgy-page-stats {
    border-top: none;
    border-radius: 0px;
    margin-bottom: 1em;
    .card-body {
        padding: 0 1.05rem;
    } // Profile Stats Item Title 
    .nav-item {
        border-top: 5px solid transparent;
    }
    .nav-link {
        padding: 3px 10px 8px 10px;
    }
    .nav-item .nav-item-title {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
        font-weight: 700;
    } // Profile Stats Item Value 
    .nav-item .nav-item-value {
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 1.1em;
        font-weight: 500;
    }
    .nav-item.active {
        border-top: 5px solid #2a8abd;
    }
    .nav-item.active>.nav-link {
        padding-top: 3px;
    } // Profile Stats Filler Item
    .filler.nav-item {
        min-width: 115px;
    }
}