/* 
===========================================
       Container Components Section
===========================================
*/

/*****************************
*    Login Form Container    *
*****************************/

.login-form {
    .container {
        max-width: 600px;
    }

    h1 {
        color: @primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 60px;
    }

    .partners{
        flex-wrap: wrap;
        margin-top: 60px;

        img{
            height: 55px;
            margin-right: 20px;
        }

        img:first-of-type{
            height: 65px;
        }

        img:last-of-type{
            height: 80px;
            margin-right: 0px;
        }
    }
}