.e-services-table {
    margin-bottom: 16px;
    min-height: 354px;
    .card-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .card-title {
            color: #2a8abd;
            font-family: 'Montserrat', sans-serif;
            font-size: 19px;
            font-weight: 700;
            margin: 0px;
            padding: 0px 10px;
        }
        a {
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            margin: 0px;
        }
    }
    .card-body {
        padding: 20px 20px 0px 20px;
    }
    table {
        margin: -10px -20px 0px -20px;
        max-width: none;
        width: calc(100% + 40px);
        table-layout: fixed;
        thead th {
            border: none;
            color: #2a8abd;
            font-family: 'Lato';
            font-weight: 700;
        }
        tbody td {
            color: rgb(44, 44, 44);
            font-family: 'Lato';
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        thead th:first-child,
        tbody td:first-child {
            padding-left: 30px;
        }
        thead th:last-child,
        tbody td:last-child {
            padding-right: 30px;
        }
        .filler {
            font-family: 'Lato';
            font-size: 18px;
            text-align: center; // padding-top: 18px;
        }
        tbody {
            min-height: 269px;
        }
        tbody>tr {
            cursor: pointer;
        }
        tbody>tr.unread {
            background-color: #eee;
            cursor: pointer;
            font-weight: 700;
        }
    }
    .loader {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    tr.loader-container {
        height: 245px;
        td {
            vertical-align: middle;
        }
    }
    .btn-group {
        display: inline;
        z-index: 0;
    }
    .btn-group>span {
        font-family: 'Lato';
        margin-right: 10px;
        vertical-align: middle;
    }
    .btn-group>.btn,
    .btn-group>.btn:focus,
    .btn-group>.btn:active {
        background-color: transparent;
        border: 1.5px solid #2a8abd;
        color: #2a8abd;
        min-width: 20px !important;
    }
    .btn-group>.btn:nth-child(2) {
        border-radius: 20px 0px 0px 20px;
        border-right: none;
    }
    .btn-group>.btn:last-child {
        border-radius: 0px 20px 20px 0px;
    }
    @media only screen and (max-width: 890px) {
        .card-title {
            max-width: 280px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}