.loader {   
    display: flex;
    justify-content: space-around;
    padding: 15px;

    object {
        width: 60px;
        height: 60px;
    }
}

.newsfeed-title {
    color: #2a8abd;;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
}