.my-barangay-residents {
    .card {
        border-radius: 0px;
    }

    .title {
        color: rgb(44, 44, 44);
        text-transform: capitalize;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 21px;
        margin-bottom: 0.7em;
    }

    .table {
        font-family: 'Lato';
        margin-bottom: 0px;

        thead th {
            border: none;
            color: #2a8abd;   
            font-weight: 700;
        }

        td {
            color: rgb(44, 44, 44);          
        }

        .resident-name a{
            color: rgb(44, 44, 44) !important;            
            font-weight: 700;
            text-decoration: underline;
        }

        .filler {
            font-size: 18px;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        .loader {
            padding-top: 20px;
            padding-bottom: 0px;

            object {
                width: 50px;
                height: 50px;
            }
        }


    }
}