/*****************************
*       Signup Form          *
*****************************/
.signup-form {
  padding: 50px 20px;
  width: 100%;
}
.signup-form .form-title {
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.signup-form .form-group {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  color: #2a8abd;
}
.signup-form label {
  font-family: 'Lato', sans-serif;
  font-size: 1.16em;
}
.signup-form input {
  background: linear-gradient(to right, #bfdbeb, #bbc8ee);
  border: none;
  border-radius: 2em;
  font-size: 1em;
  padding: 0.3em 0.6em;
}
.signup-form .section {
  padding: 0.5em 0;
}
@media screen and (min-width: 992px) {
  .signup-form {
    min-height: max-content;
    padding: 30px 20px;
  }
}
.signup-slider {
  padding: 50px 20px;
}
.signup-slider .carousel-inner {
  min-width: 300px;
}
.signup-slider .carousel-inner .carousel-item > img {
  display: block;
  margin: 15px auto 100px auto;
  height: 290px;
}
.signup-slider .carousel-indicators li {
  background-color: transparent;
  border: 1px solid #1f4bc8;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-right: 1.5em;
}
.signup-slider .carousel-indicators li:last-child {
  margin-right: 0;
}
.signup-slider .carousel-indicators li.active {
  background: linear-gradient(to right, #2a8abd, #1f4bc8);
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 100vw;
  }
  .signup-slider {
    padding-bottom: 0;
  }
}
