/*****************************
*       Signup Form          *
*****************************/
.signup-form .form-title {
  color: #2a8abd;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.signup-form .form-group {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  color: #2a8abd;
}
.signup-form label {
  font-family: 'Lato', sans-serif;
  font-size: 1.16em;
}
.signup-form input {
  background: linear-gradient(to right, #bfdbeb, #bbc8ee);
  border: none;
  border-radius: 2em;
  font-size: 1em;
  padding: 0.3em 0.6em;
}
.signup-form .section {
  padding: 1em 0;
}
