/************************
 Navbar
************************/

.navbar {
    background: linear-gradient(#2a8abd, 80%, #226cc1);
    height: 60px;
}

.navbar-nav {
    flex-direction: row;
}

// Place navbar below the sidebar
.fixed-top {
    z-index: 1;
}

.nav-logo>img {
    cursor: pointer;
    margin-right: 20px;
    max-height: 40px;
    padding: 0px 10px;
    padding-right: 22.408px;
}

// Navbar hamburger menu
.nav-menu>img {
    cursor: pointer;
    margin-left: 20px;
    max-height: 28px;
    padding: 0px 10px;
}

.sm-search-bar {
    .nav-search-bar {
        input,
        input:active,
        input:focus {
            width: 62vw !important;
        }
    }
}
.nav-search {
    h5 {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        margin-bottom: 0px;
    }
}
.nav-search * {
    color: white;
    font-size: 28px;
    margin-right: -2px;
}

@media only screen and (max-width: 768px) {
    .nav-logo {
        margin-left: -25px;
    }
    .nav-menu {
        margin-right: -25px;
    }
}