/************************
 Navbar
************************/

.navbar {
    background: linear-gradient(#2a8abd, 80%, #226cc1);
    height: 60px;

}

// Place navbar below the sidebar
.fixed-top {
    z-index: 1;
}

.nav-logo>img {
    cursor: pointer;
    margin-right: 20px;
    max-height: 40px;
}

// Navbar hamburger menu
.nav-menu>img {
    cursor: pointer;
    margin-left: 20px;
    max-height: 28px;
}


