/************************
 Navbar
************************/

.navbar {
    background: linear-gradient(#2a8abd, 80%, #226cc1);
    height: 60px;
}

// Place navbar below the sidebar
.fixed-top {
    z-index: 1;
}

.nav-logo>img {
    cursor: pointer;
    margin-right: 20px;
    max-height: 40px;
    padding: 0px 10px;
    padding-right: 22.408px;
}

// Navbar hamburger menu
.nav-menu>img {
    cursor: pointer;
    margin-left: 20px;
    max-height: 28px;
    padding: 0px 10px;
}

@media only screen and (max-width: 768px) {
    .nav-logo {
        margin-left: -25px;
    }

    .nav-menu {
        margin-right: -25px;
    }
}